@use "variables" as v;

main{
    h1{
        color: v.$color-principal;
        text-align: left;
        margin-top: 20px;
    }
    label{
        display: block;
        margin-top: 10px;
        font-weight: bold;
        color: v.$color-principal;
        text-align: center;
    }
    input, textarea{
        transform: translateX(75%);
        width: 40vw;
        margin: 5px;
        padding: 10px;
        border: 2px solid v.$color-principal;
        border-radius: 5px;
        font-family: v.$fuente;
        box-sizing: border-box;
    
        &:focus{
            border-color: darken(v.$color-principal, 30%);
            outline: none;
        }
    }
    
    .checkbox{
                margin-left: 10px;
                margin-right: 10px;
                vertical-align: middle;       
            }



    .boton{
        display: block;
        margin: 10px;
        transform: translateX(70vw);
        width: 1px;
        padding: 10px 20px;
        border-radius: 5px;

    }
}

@media (max-width: 768px) {
    main{
        h1{
            font-size: 1.2em;
        }
        input, textarea{
            width: 80vw;
            align-items: center ;
            transform: translateX(10vw);
        }
        .boton{
            transform: translateX(65vw);
            margin: 10px;
            width: 1px;
        }
    }
    
}