@use "variables" as v;

footer {
    background-color: v.$color-principal;
    padding: 20px;
    text-align: right;

    p {
        color: v.$color-secundario;
        font-size: 0.9em;
        margin: 0;
        padding: 10px;
        text-align: left;
        vertical-align: bottom;
    }
    #whatsapp{
        width: 4.5vw;
        height: auto;
        vertical-align: middle;
    }
    .instagram_logo {
        width: 6vw;
        @extend #whatsapp;
    }
}

@media (max-width: 768px) {
    footer{
        p{
            font-size: 0.8em;
        }
        #whatsapp{
            width: 10vw;
            height: auto;
        }
        .instagram_logo{
            width: 15vw;
            height: auto;
        }
    }
}